<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="RelicConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=RelicDB;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="SiteName" value="Relic - Heritage Art &amp; Handicrafts"/>
    <add key="AdminEmail" value="admin@relic.com"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8" maxRequestLength="10240" executionTimeout="110"/>
    <customErrors mode="Off"/>
    <!-- Forms Authentication Configuration -->
    <authentication mode="Forms">
      <forms name=".RelicAuth" loginUrl="~/Login.aspx" defaultUrl="~/Default.aspx" protection="All" timeout="30" slidingExpiration="true" cookieless="UseCookies"/>
    </authentication>
    <!-- Session State Configuration -->
    <sessionState mode="InProc" timeout="30"/>
    <!-- Pages Configuration -->
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" maintainScrollPositionOnPostBack="true">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
  </system.web>
  <!-- Authorization Rules -->
  <location path="Admin">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Cart.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Checkout.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Orders.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Profile.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
      <!-- Remove any inherited mapping to avoid duplicate-key error -->
      <remove fileExtension=".json"/>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>